<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://labpowercontrolfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/42aa8b49-a282-4cc3-8a7e-cc01005797dd/resourceGroups/LabPowerControlResourceGroup/providers/Microsoft.Web/sites/LabPowerControlFunctionApp</ResourceId>
    <UserName>$LabPowerControlFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://labpowercontrolfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>